#	NOTES:
#		1) All <name_set> at 3-11-14-2 are required to start with "#P:"
#				The '#P:' substring isn't evaluated for matching. 
#		2) Avoid these characters for <name_set> definitions either here or at 3-11-14-2:
#				':'    '|'     '/'      '#' 
#				Any others are allowed, e.g: [_ - @ $ ! A..Z 0..9], etc
#		3) Leading and trailing withespaces are ignored, "  ABC  " is read as "ABC".
#		4) Spaces at the middle of the <name_set> are preserved, "AAA BBB" is read as "AAA BBB"
#		5) Records specifying an <operator_name> have precedence over the `default` ones.
#		6) (Pending to Implement) - These columns are case insensitive: 1st, 2nd and 3rd.
#			
#	FILE FORMAT:
#		<NAME SET> | <user_name> or default | PDF or PS | <PRINTER NAME> or <DIRECTORY>
#-----------------------------------------------------------------------------
#-----------------------------------------------------------------------------


ABCDE|default|PDF|/u/optifacts/share/latam_duties/printerManager/dir_1
ABCDE|user_name|PDF|/u/optifacts/share/latam_duties/printerManager/dir_2 
%%AA$@!|default|PDF|/u/optifacts/share/latam_duties/printerManager/dir_3
AAA BBB   |user_name|PDF|/u/optifacts/share/latam_duties/printerManager/dir_4

#aBCDE|default|PS|printer3
#aBCDE|user_name|PS|printer3
#%%AA$@!|user_name|PS|printer4
#AAA BBB|PS|printer4




#-----------------------------------------------------------------------------
#-----------------------------------------------------------------------------




#ABCDE|PS|user_name|printer3
#XYZ |PS|ALL|printer3
#%%AA$@!|PS|printer4
#AAA BBB|PS|printer4